<div class="upperHead">
    <img src="https://images.crunchbase.com/image/upload/c_pad,f_auto,q_auto:eco,dpr_1/x9dxfdcezfmxgqtypiqt" class="logoImg"/>
    <div class="rightBox">
        <span class="greeting">
            Hi Mary!
        </span>
        <img class="profileImg" src="https://s3-alpha-sig.figma.com/img/ef2e/b507/92778fc8e9b05a48366ae7c50a1b8cf6?Expires=1719792000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NE8JPI92JJ5phV34XWeor20UpoC0HiFriijBLpm8LXXXJxgGvr7y9kZ5HPXxw1qRJ5Cz0KoTFtbucuytTyL9XNiSQH61ZQchhO4dA-x-Cui~bLa9MS-skkzmR~2G~eUTMLqiUFdyiK7kq-1nB~3fN5-K3-YryoSuaVQ0uGuByO379DK--9Qcsw629nPMWQ7rSn2j9oQ1GVBbitZ2GzJadgA8wvAf5Fbvs4dou0s7WlEnB6lFpiaboKtrlINgR7bWqt6jjzI1eHmkAOExt8PAkMujB2OVsD-UUPRvU~CZMJg1eiLoQiI8Kqbboi5niQ382jMeFJHiOFoDiM9DTB-pAg__" />
    </div>
</div>
